dls-timeline {
  .cd-timeline {
    overflow: hidden;
    margin: 0 auto;
  }

  .cd-timeline__container {
    position: relative;
    width: 90%;
    max-width: 1170px;
    margin: 0 auto !important;
    padding: 2em 0;
  }

  .cd-timeline__container::before {
    /* this is the vertical line */
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: #d7e4ed;
  }

  .cd-timeline__block:first-child {
    margin-top: 0;
  }

  .cd-timeline__block {
      position: relative;
      margin: 2em 0;
  }

  .cd-timeline__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0,0,0,.08), 0 3px 0 4px rgba(0,0,0,.05);
    background: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  img {
    height: 100%;
  }

  .cd-timeline__content {
    position: relative;
    margin-left: 60px;
    background: #f1f1f1;
    border-radius: .25em;
    padding: 1em;
    -webkit-box-shadow: 0 3px 0 #d7e4ed;
    box-shadow: 0 3px 0 #d7e4ed;

    h2 {
      margin-top: 0;
    }
  }

  .cd-timeline__content::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid #f1f1f1;
  }

  .cd-timeline__read-more {
    float: right;
    padding: .8em 1em;
    background: #acb7c0;
    color: #fff;
    border-radius: .25em;
  }

  .cd-timeline__date {
    float: left;
    padding: .8em 0;
    opacity: .7;
  }

  .cd-timeline__content:after {
    content: "";
    display: table;
    clear: both;
  }

  @media only screen and (min-width: 1170px) {
    .cd-is-hidden {
      visibility: hidden;
    }

    .cd-timeline__img.cd-timeline__img--bounce-in {
      visibility: visible;
      animation: cd-bounce-1 0.6s;
    }
  }

  @keyframes cd-bounce-1 {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }

    60% {
      opacity: 1;
      transform: scale(1.2);
    }

    100% {
      transform: scale(1);
    }
  }
}
