/* Document Level Styles */

/* the root pseduo selector defines the variable on the root element of your
project (usually <html>) so that the variable can be used across your app. */
:root {
  --ion-color-ios-primary: #1BA2DC;
  --ion-color-ios-secondary: #EB433C;
  --ion-color-ios-light: #EDE035;

  --ion-color-md-primary: var(--ion-color-ios-primary);
  --ion-color-md-secondary: var(--ion-color-ios-secondary);
  --ion-color-md-light: var(--ion-color-ios-light);
}

@font-face {
  font-family: 'suckgolf';
  src: url('/assets/fonts/suckgolf.ttf');
}

body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

ion-scroll {
  padding: 15px;
  /* TODO this shouldn't have to be here...something is not right...*/
  /* The ion-scroll that is injected into ion-content is never getting a height set */
  height: 95vh;
}
