app-home {
  ion-scroll {
    padding: 15px;
    background-color: var(--ion-color-ios-primary) !important;
    background-image: url('/assets/pineapple-bg.png');
    // background-blend-mode: luminosity;
  }

  img {
    display: block;
    margin: 0 auto;
  }

  .floatingHeads {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 25px;

    img {
      width: 70px;
      height: 70px;
    }

    p {
      font-family: 'suckgolf';
      color: #FFF;
      font-size: 4em;
      margin: 0;
    }
  }
}
