dls-soundboard {
  ion-scroll {
    // padding: 15px;
  }

  h1 {
    padding: 15px;
  }

  #audioFile {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: var(--ion-color-ios-primary);
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    color: #FFF;
  }
}
